@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.overlay {
  border-image: fill 1 linear-gradient(hwb(46 8% 33% / 0.3), hsla(0, 0%, 15%, 0.6));
  opacity: .90;
  /* border-image: fill 1 linear-gradient(hsla(0, 1%, 27%, 0.6), hsla(0, 0%, 15%, 0.6)); */
}